﻿@model rmp.Models.TeamModel


<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("CreateSquad", "Player"))
{
    


  <input type="submit" value="Log in" />
    @Html.ValidationSummary()

}