﻿@model rmp.Models.TeamPlayerRegister
@{
    ViewBag.Title = "JoinTeam";
}

<h2>JoinTeam</h2>
 
<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
    
       
@using (Html.BeginForm("JoinTeam", "Player"))
{
    
    <div  style="width:300px; margin:0 auto; border:none; " >
                      
          <table>
          <tr>
            <td>@Html.Label("TeamID:")</td>
            <td>@Html.TextBoxFor(model => model.teamID  ) </td>
          </tr>
          <tr>
            <td>@Html.Label("Password:")</td>
            <td>@Html.TextBoxFor(model => model.password) </td>
          </tr>
         
        </table> 
         
    </div>
    <br/>
    

  <input type="submit" value="Join" />
    @Html.ValidationSummary()

}