﻿@model rmp.Models.LogInModel


<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>
    
       
@using (Html.BeginForm("logIn", "Player"))
{
    
    <div  style="width:300px; margin:0 auto; border:none; " >
                      
          <table>
          <tr>
            <td>@Html.Label("Username:")</td>
            <td>@Html.TextBoxFor(model => model.username) </td>
          </tr>
          <tr>
            <td>@Html.Label("Password:")</td>
            <td>@Html.TextBoxFor(model => model.password) </td>
          </tr>
        </table> 
         
    </div>
    <br/>
    

  <input type="submit" value="Log in" />
    @Html.ValidationSummary()

}