﻿@model rmp.Models.PickMatchModel 

@{
    ViewBag.Title = Html.Encode("Pick Match");
     
}


<h2>Pick match</h2>  

<div>
   <img src="~/Content/images/match.png" />
    @{
        foreach(rmp.Models.MatchModel t in Model.matches){
            <br/>
        
             @Html.ActionLink(t.name , Model.nextAction, "Player",new {matchID=t.match_id}, new {@class="btnsmall"})
    }
    }

</div>