﻿@model rmp.Models.PickSquadModel


@{
    ViewBag.Title = Html.Encode(Model.player.nick );
}


<h2>Pick squad</h2>

<div>
   
    @{
        foreach(rmp.Models.TeamModel t in Model.squads){
            <br/>
             @Html.ActionLink(t.Name , "Start", "Team",new {teamID=t.Id  }, new {@class="btnsmall"})
         
  
    }
    }

</div>