﻿@model rmp.Models.PlayerStats


@{
    ViewBag.Title = Html.Encode("Rater" );
}


<h2>Profile</h2>

<div>
    <p>@rmp.db.currentUser.username</p>
    <p>@rmp.db.currentUser.mail</p>
    <p>@rmp.db.currentUser.mobile</p>

    @{
    
        string strTable = @"<table style='width:100%;'>";
        string strRow = @"<th>Match</th>";
        for (int i = 1; i <=10; i++)
        {
            strRow += "<th>* " +  i.ToString() + @"</th>";
            
        }
        strTable += strRow;
        foreach (rmp.Models.PlayerMatchRatings match in Model.Matches )
        {
            
                strRow = @"<tr><td>" + match.MatchName + @"</td>" ;
                for(int i=0;i<=9;i++)
                {
                    if(match.GivenRatings.ContainsKey(i))
                    {
                    strRow += "<td><b>" + match.GivenRatings[i].ToString() + @"</b></td>";
                    }else
                    {
                        strRow += "<td></td>";
                    }
                }
                strRow +=  @"</tr>";
                strTable += strRow;
        }
        strTable += @"</table>";
        
        @Html.Raw(strTable);
    }
    
    

</div>