﻿@model rmp.Models.RateMatchModel 

<script src="~/Content/ratinghandler.js"></script>

@{
    ViewBag.Title = Html.Encode(Model.matchName );
}


<h2>Rate match</h2>


<div class="div_center_vertical">
        
      @rmp.renders.GetRatingTable(Model.players,Model.matchName, rmp.db.currentMatch.date.ToString()  )
      <br />
   
    <button class="btnsmall" onclick="@Model.destinationLink">Rate!</button>
   
</div>