﻿@model rmp.Models.RegisterModel


<script src="../../Scripts/jquery.validate.min.js"></script>
<script src="../../Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm("RegisterPlayer", "Player"))
{
    
    <div  style="width:300px; margin:0 auto; border:none; " >
          <table>
          <tr>
            <td>@Html.Label("Username:")</td>
            <td>@Html.TextBoxFor(model => model.UserName) </td>
          </tr>
          <tr>
            <td>@Html.Label("Password:")</td>
            <td>@Html.TextBoxFor(model => model.Password) </td>
          </tr>
          <tr>
            <td>@Html.Label("Confirm password:")</td>
            <td>@Html.TextBoxFor(model => model.ConfirmPassword) </td>
          </tr>

          <tr>
            <td>@Html.Label("Nick:")</td>
            <td>@Html.TextBoxFor(model => model.Nick )  </td>
          </tr>
          <tr>
            <td>@Html.Label("Mail:")</td>
            <td>@Html.TextBoxFor(model => model.Email ) </td>
          </tr>
           <tr>
            <td>@Html.Label("Mobile:")</td>
            <td>@Html.TextBoxFor(model => model.Mobile) </td>
          </tr>
        </table> 
         
    </div>
    <br/>
    

  <input type="submit" value="Log in" />
    @Html.ValidationSummary()

}