﻿
@{
    ViewBag.Title = rmp.db.currentUser.username  ;
    
}
 
<h2>@rmp.db.currentUser.nick </h2>
<div>
    
@Html.ActionLink("Profile", "Profil", "Player", rmp.db.currentUser.id , new {@class = "btnsmall" })
<br/>
@Html.ActionLink("Squad", "PickSquad", "Player",new {  }, new {@class = "btnsmall"})
<br/>
@Html.ActionLink("Join squad", "JoinTeam", "Player",new {  }, new {@class = "btnsmall"})
<br/>
@Html.ActionLink("New squad", "NewTeam", "Team",new {  }, new {@class = "btnsmall"})
<br/>  

</div>