﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.5.3.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
            <div> 
                
                <ul class="navi">
                     
                     <li class="navi">
                        @Html.ActionLink("Home","Start","Player",new{}, new {@class = "btnmenu"}   )
                    </li>
                     <li class="navi">
                        @Html.ActionLink("My profile","Profil","Player",new{playerID= @rmp.db.currentUser.id}, new {@class = "btnmenu"}   )
                    </li>              
                    <li class="navi">
                        @Html.ActionLink("Squad","PickSquad","Player",new{}, new {@class = "btnmenu"}   )
                    </li>

                </ul>

                 <ul class="navi" style="float:right;">
                     <li class="navi">
                        <p style="color:whitesmoke;margin-right:20px;">user:@rmp.db.currentUser.username</p>    
                    </li>
                     <li class="navi">
                         @Html.ActionLink("Log out", "LogOff", "Player",new {  }, new {@class = "btnmenu"})
                     </li>
                </ul>
         
            </div>
   
           
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
