﻿@model rmp.Models.NewMatchModel 
@{
    ViewBag.Title = "New Match";
}

<h2>New Match</h2>
<div class="div_center_vertical">
    @using (Html.BeginForm("NewMatch", "Team"))
{
   
@Html.Label("Match name:")
@Html.TextBoxFor(model=>model.matchName)
    <br /><br />
         
        <table style="margin: 0px auto;"><tr><th colspan="2">
             @Html.Label("Select players")
            </th></tr>
     
    @for (int i = 0; i <= Model.players.Count - 1; i++)
    {
        

            <tr>
                <td style="width:100px; ">
                    @Html.Label(Model.players[i].name)
                    @Html.HiddenFor(model=>model.players [i].id )
                </td>
                <td>
                    @Html.CheckBoxFor(model=>model.players[i].selected )
                </td>
            </tr>   
        
    
    }
        
   </table>     
   <br />
        
    <input type="submit" value="Create match" />
        @Html.ValidationSummary()
 
}        
</div>

