﻿@model rmp.Models.TeamModel

@{
    ViewBag.Title = "Igraci";
}
<script type="text/javascript" class="gore">
    $(document).ready(function () {
        refreshRatings();

    });

  function ratingclick(row,col) {
            
      var strID = "row" + row + "col" + i;
      
      var im1= "@rmp.vars.starOFF";
      var im2 = "@rmp.vars.starON";  
      for (var i = 1; i <= 10; i++) {
          strID = "row" + row + "col" + i;

           
          var myTextField = document.getElementById(strID);
          if (i <= col) {
              myTextField.setAttribute("src", im2);
          }
          else
          {
              myTextField.setAttribute("src", im1);
          }
      }

  }

    function refreshRatings() {
          
           
         
              @foreach(rmp.Models.PlayerProfilModel player in Model.Players ){
                  @:alert("'" + @player.username + "'");

                  @:i++;
                  if(player.lastRating>0)
                  {
                      
                      @:ratingclick("'" +i + "'","'" + @player.lastRating +"'")
                           
                  }

              } 
     
          
      }
  




</script>

<h2>Profile</h2>
 
<div class="div_center_vertical" >
@{
    int i = 0;
    foreach (rmp.Models.MatchModel m in Model.Matches)
    {
        i++;
            @Html.ActionLink(m.name, "Match", new { matchID = m.match_id })
            <br />
    }
        
        
       
    }
 
    
    
</div>

