﻿@model rmp.Models.TeamRatingsModel

@{
    ViewBag.Title = "Ratings";
}

<h2>Ratings</h2>
<div class="div_center_vertical">
<h2>Squad: @Model.squad.Name </h2><br />


@{
    foreach(rmp.Models.MatchModel match in Model.matches ){      
    
     @rmp.renders.GetRatingTable(match.players ,match.name ,match.date.ToString() ); 
       
    }
}


    <p>Rater</p>
</div>


