﻿@model rmp.Models.TeamModel
@{
    ViewBag.Title = @Model.Name;
}

<h2>@Model.Name</h2>
<img src="~/Content/images/players.png" />
<br/>
@Html.ActionLink("Rate" , "PickMatch", "Player",new {teamID = Model.Id }, new {@class="btnsmall"})
<br/>
@Html.ActionLink("Ratings", "Ratings", "Team",new {  }, new {@class = "btnsmall"})
<br/>
@Html.ActionLink("New match", "NewMatch", "Team",new {  }, new {@class = "btnsmall"})
<br/>
@Html.ActionLink("Join match", "PickMatch", "Player",new {teamID = Model.Id, WantToJoin=true   }, new {@class = "btnsmall"})