﻿@{
    ViewBag.Title = "Home Page";
}
<link href="../../Content/Site.css" rel="stylesheet" />
<link href="../../Content/bootstrap.css" rel="stylesheet" />
<script src="../../Content/bootstrap.js"></script>

<h2>@ViewBag.Message</h2>

    <div class="div_center_vertical">
   
       @Html.ActionLink("Log in", "logIn", "Player",new {  }, new {@class = "btnsmall"})
        <br />

      @Html.ActionLink( "Register", "RegisterPlayer", "Player",new {}, new {@class = "btnsmall"})
                       
    


    </div>
 
